{% extends 'base.html.twig' %}

{% block title %}Hello EventsController!{% endblock %}

{% block body %}
{{include('components/navbar.html.twig')}}

<div class="container mt-3 mb-3">
<h2 class="page-header">Add Event</h2>
    {{form_start(form)}}
    {{form_widget(form)}}
    {{form_end(form)}}</div>
{% endblock %}
