{% extends 'base.html.twig' %}

{% block title %}Hello EventsController!{% endblock %}

{% block body %}
<div class="container">
    if you see this, delete works
    <h2 class="page-header">Delete Event {{events.eventName}}</h2>
    <img src="{{events.eventImg}}" class="img-thumbnail" alt="{{events.eventName}}">

</div>
{% endblock %}
