<div class="bg-image d-flex justify-content-center align-items-center">
      <nav class="align-self-start mt-5">
        <ul class="nav justify-content-center">
          <li class="nav-item">
            <a class="nav-link active fs-5" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active fs-5" aria-current="page" href="#locations">Locations</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active fs-5" aria-current="page" href="#restaurant">Restaurant</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active fs-5" aria-current="page" href="#events">Events</a>
          </li>
        </ul>
      </nav>

        <!-- fullpage background pic -->
      <div class="mask maskBg">  <!-- the mask will help us make the img darker so our content will be more visible -->
        <div class="d-flex justify-content-center align-items-start">
          <h1 class="textColor-1 font-1 text-center">Welcome to my travel blog</h1>
        </div>
      </div>
     </div>