<div class="containerImg m-0">
  <nav class="navbar d-flex flex-row w-100">
    <div class="ms-3">
      <a class="navbar-brand fs-3" href="/">Eventima</a>
    </div>
    <ul class="nav align-items-end">
      <a class="fs-5 ms-2 me-2" href="/">Home</a>
      <a class="fs-5 ms-2 me-2" href="/add">Add Event</a>
    </ul>
  </nav>

  <!-- fullpage background pic -->
  <div class="height50 d-flex flex-column justify-content-center">
    <h1 class="text-dark text-center m-1">Welcome to Evetima</h1>
    <h5 class="text-dark text-center m-1">Book with us your next event</h5>
    <a href="#events" class="btn align-self-center m-1">See our events</a>
  </div>
</div>