<nav class="navbar yellow-hover d-flex flex-row w-100">
  <div class="ms-3">
    <a class="navbar-brand fs-3" href="/">Eventima</a>
  </div>
  <ul class="nav align-items-end">
    <a class="fs-5 ms-2 me-2" href="/">Home</a>
    <a class="fs-5 ms-2 me-2" href="/add">Add Event</a>
  </ul>
</nav>